
$primary: darken(#7bbe17, 17%);
$secondary: $gray-700;
$enable-responsive-font-sizes: true;
$body-bg: $gray-900;
$body-color: $gray-200;
$link-hover-decoration: none;
$link-color: lighten(theme-color("primary"), 17%);
$link-hover-color: lighten($link-color, 15%);
$font-family-sans-serif: Comfortaa;
$table-bg-level: 1.7;
$table-border-level: 1.7;
$input-color: $body-color;
$input-bg: $body-bg;
$input-disabled-bg: lighten($body-bg, 10%);
$input-border-color: $gray-800;
$custom-control-indicator-border-color: $gray-800;
$dropdown-bg: $body-bg;
$dropdown-link-color: $primary;
$dropdown-item-padding-y: 0rem;
$dropdown-item-padding-x: 0.9rem;
$pagination-hover-bg: $gray-800;
$pagination-disabled-bg: $gray-800;
$pagination-bg: $body-bg;
$pagination-border-color: $gray-700;
$pagination-disabled-border-color: $gray-700;
$breadcrumb-bg: $gray-800;
$jumbotron-bg: lighten($body-bg, 10%);
$jumbotron-color: $body-color;
$code-color: $secondary;
$kbd-color: $body-bg;
$enable-hover-media-query: true;
$card-bg: $body-bg;
$card-color: $body-color;
$dropdown-link-hover-bg: $gray-700;
$input-group-addon-bg: $input-bg;
$emphasized-link-hover-darken-percentage: 0%;