@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --titlebar-height: 60px;
  --primary: #ca3e47;
  --secondary-dark: #111;
  --tertiary-dark: #333;
  --secondary-light: #aaa;
  --tertiary-light: #ddd;
  --hamburger-distance: 13px;
}

body, #body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Open Sans";
}

#titlebar {
  width: 100%;
  height: var(--titlebar-height);
  background-color: var(--secondary-dark);
}

.titlebarButton {
	width: 100vw;
	height: auto;
	text-align: center;

	font-size: 36px;
	color: var(--tertiary-dark);
}

.ghostSpan {
	left: 0px;
	right: 0px;
	height: 49px;
  background: var(--bg);
  -webkit-clip-path: var(--clip);
  clip-path: var(--clip);
  opacity: 0.5;
  position: absolute;
  z-index: 1;
}
.ghostSpan:nth-of-type(1) {
  --bg: #00f;
  --clip: polygon(0 0, 100% 0, 50% 50%, 50% 50%);
}
.ghostSpan:nth-of-type(2) {
  --bg: #f00;
  --clip: polygon(100% 0, 100% 100%, 50% 50%);
}
.ghostSpan:nth-of-type(3) {
  --bg: #008000;
  --clip: polygon(0 100%, 100% 100%, 50% 50%);
}
.ghostSpann:nth-of-type(4) {
  --bg: #800080;
  --clip: polygon(0 0, 0 100%, 50% 50%);
}
.ghostSpan:nth-of-type(1):hover,
.ghostSpan:nth-of-type(2):hover,
.ghostSpan:nth-of-type(3):hover,
.ghostSpan:nth-of-type(4):hover {
	transition-duration: 0.4s;
	--clip: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  opacity: 1;
  z-index: 2;
}

#content {
  height: 100%;
  transition-duration: 3s;
}

#content.theme-dark {
  color: var(--secondary-dark);
  background-color: var(--tertiary-dark);
}

#content.theme-light {
  color: var(--secondary-light);
  background-color: var(--tertiary-light);
}

#hamburger {
  width: 100%;
  height: var(--titlebar-height);
  line-height: 0px;
}

.meat {
  position: absolute;
	left: 50%;
	transform: translateX(-50%);
	height: 5px;
	width: 60px;
	background-color: white;
	border-radius: 5px;

	transition-duration: 0.4s;
}

.meat:nth-of-type(1) {
  top: calc(var(--hamburger-distance) * 1);
}

.meat:nth-of-type(2) {
  top: calc(var(--hamburger-distance) * 2);
}

.meat:nth-of-type(3) {
  top: calc(var(--hamburger-distance) * 2);
}

.meat:nth-of-type(4) {
  top: calc(var(--hamburger-distance) * 3);
}


#hamburger[open] .meat:nth-of-type(1) {
  opacity: 0;
	transform: translateX(-50%) translateY(-300%);
}
#hamburger[open] .meat:nth-of-type(2) {
	transform: translateX(-50%) rotateZ(45deg) translateY(0px);
}
#hamburger[open] .meat:nth-of-type(3) {
	transform: translateX(-50%) rotateZ(-45deg) translateY(-0px);
}
#hamburger[open] .meat:nth-of-type(4) {
  opacity: 0;
	transform: translateX(-50%) translateY(300%);
}

#hiddenbar {
	position: absolute;
	top: var(--titlebar-height);
	left: 0px;
	height: 0px;
	width: 100vw;
	overflow: hidden;
	background-color: var(--primary);
	transition-duration: 0.5s;
}
#hamburger[open] ~ #hiddenbar {
	height: 100vh;
}
