@green: #7bbe17;

* {
	scroll-behavior: smooth;
}

body {
	overflow: hidden !important;
	font-family: 'Comfortaa', cursive;
	color: white;
	overflow: hidden;
}

#body {
	background-color: #111;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}
