@keyframes slideAway1 {
	0% {
		transform: translate(0%, 0%);
	}

	50% {
		border-bottom-right-radius: 100%;
	}

	100% {
		transform: translate(-101%, -101%);
	}
}
@keyframes slideAway2 {
	0% {
		transform: translate(0%, 0%);
	}

	50% {
		border-bottom-left-radius: 100%;
	}

	100% {
		transform: translate(101%, -101%);
	}
}
@keyframes slideAway3 {
	0% {
		transform: translate(0%, 0%);
	}

	50% {
		border-top-left-radius: 100%;
	}

	100% {
		transform: translate(101%, 101%);
	}
}
@keyframes slideAway4 {
	0% {
		transform: translate(0%, 0%);
	}

	50% {
		border-top-right-radius: 100%;
	}

	100% {
		transform: translate(-101%, 101%);
	}
}

body {
	overflow: hidden !important;
}

#body {
	background-color: #111;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#transitionPanel1 {
	z-index: 999999;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 50%;
	height: 50%;
}

#transitionPanel2 {
	z-index: 999999;
	background-color: white;
	position: fixed;
	top: 0;
	left: 50%;
	width: 50%;
	height: 50%;
}

#transitionPanel3 {
	z-index: 999999;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
}

#transitionPanel4 {
	z-index: 999999;
	background-color: white;
	position: fixed;
	top: 50%;
	left: 0;
	width: 50%;
	height: 50%;
}
