/* START: Dark Theme */
/* START: Variables */
/* Theme Variables */
* {
  --dark0: #0d0d0d;
  --dark1: #111;
  --dark2: #131313;
  --dark3: #161616;
  --dark4: #1a1a1a;
  --dark5: #1f1f1f;
  --dark6: #222;
  --dark7: #2a2a2a;
}

/* Dark Theme Variables */
.theme-dark {
  --header-primary: #ccc;
  --header-secondary: #b9bbbe;
  --text-normal: #aaa;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #aaa;
  --interactive-hover: #bbb;
  --interactive-active: #ccc;
  --interactive-muted: #4f545c;
  --background-primary: var(--dark4);
  --background-secondary: var(--dark3);
  --background-tertiary: var(--dark1);
  --background-accent: var(--dark7);
  --background-floating: var(--dark1);
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: var(--dark2);
  --activity-card-background: red;
  --deprecated-panel-background: var(--dark2);
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: var(--dark4);
  --deprecated-quickswitcher-input-background: var(--dark1);
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

/* STOP: Variables */
/* START: Scrollbars */
.theme-dark #app-mount ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent !important;
  border-color: transparent !important;
}

.theme-dark #app-mount ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent !important;
  border-color: transparent !important;
}

.theme-dark #app-mount ::-webkit-scrollbar-thumb {
  background-color: #2a2a2a !important;
  border-color: transparent !important;
}

/* STOP: Scrollbars */
/* START: Titlebars */
/* Main Titlebar */
.theme-dark #app-mount {
  background-color: var(--dark0);
}

/* Server Titlebar */
.theme-dark .container-2Rl01u.clickable-2ap7je {
  background-color: var(--dark2);
}

/* Channel Titlebar */
.theme-dark .title-3qD0b- {
  background-color: var(--dark2);
}

.searchBar-3dMhjb {
  background-color: var(--dark4);
}

/* DMs Titlebar */
.theme-dark .searchBar-6Kv8R2 {
  background-color: var(--dark1);
}

/* STOP: Titlebars */
/* START: Chat Box */
/* Autocomplete Above Textarea */
.theme-dark .autocomplete-1vrmpx.autocomplete-i9yVHs {
  background-color: var(--dark2);
}

/* STOP: Chat Box */
/* Autocomplete Selector */
.theme-dark .autocompleteRow-2OthDa .selectorSelected-1_M1WV {
  background-color: var(--dark4);
}

/* START: Emoji Picker */
/* Top Tabs */
/* TODO: Fix white background. */
.theme-dark #bda-qem, .theme-dark #bda-qem>* {
  background-color: var(--dark2) !important;
  color: var(--header-primary) !important;
}

/* Main Panel */
.theme-dark .emojiPicker-3m1S-j {
  background-color: var(--dark3);
}

/* Frequently Used */
.theme-dark .category-2U57w6 {
  background-color: var(--dark3);
}

/* Search Bar */
.theme-dark .inner-3ErfOT {
  background-color: var(--dark4);
}

/* Twitch Panel */
.theme-dark #bda-qem-twitch-container {
  background-color: var(--dark3);
}

/* Favorite Panel */
.theme-dark #bda-qem-favourite-container {
  background-color: var(--dark3);
}

/* STOP: Emoji Picker */
/* START: Ping Menu */
/* Ping Menu Top */
.theme-dark .header-ykumBX.header-2Kf7Yu.header-3LXPrb {
  background-color: var(--dark2);
}

/* Ping Menu Middle */
.theme-dark .messagesPopoutWrap-1MQ1bW>div:nth-child(2).scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix {
  background-color: var(--dark4);
}

/* Ping Menu Bottom */
.theme-dark .messagesPopoutWrap-1MQ1bW>div:nth-child(3) {
  background-color: var(--dark2);
}

/* Ping Menu Message */
.theme-dark .messageGroupWrapper-o-Zw7G {
  background-color: var(--dark4);
  border-color: var(--dark1);
}

/* STOP: Ping Menu */
/* START: Search */
/* Search Menu */
.theme-dark .resultsWrapper-hoiXCY {
  background-color: var(--dark3);
}

/* Search Menu Back */
.theme-dark .searchResultsWrap-2DKFzt .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv {
  background-color: var(--dark3);
}

/* Search Channel Name */
.theme-dark .channelSeparator-1X1FuH, .channelName-1QajIf {
  background-color: var(--dark3) !important;
}

.theme-dark .div-1QajIf {
  background-color: var(--dark2);
}

/* Search Channel Separator */
.theme-dark .channelSeparator-1X1FuH {
  background-color: #2F3136;
}

/* Search Results Info */
.theme-dark .searchHeader-1l-wpR {
  background-color: var(--dark1);
}

/* Highlighted Search Result */
.theme-dark .searchResultMessage-2VxO12.hit-NLlWXA {
  background-color: var(--dark5) !important;
  border-color: var(--dark1);
}

/* Expanded Search Result */
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz {
  border-color: var(--dark1);
}

/* Search Result Gradients 1 */
.theme-dark .searchResult-3pzFAB:before, .theme-dark .searchResult-3pzFAB:after {
  display: none;
}

/* Search Result Gradients 2 */
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
  border-top: 2px solid rgba(28, 36, 43, 0.6);
  border-bottom: 2px solid rgba(28, 36, 43, 0.6);
  box-sizing: border-box;
  background-color: rgb(54, 57, 63);
}

/* Search Result Gradients 3 */
.theme-dark .searchResults-2J8dju .searchResultMessage-2VxO12.hit-NLlWXA {
  -webkit-box-shadow: 0px 0px 10px #070707;
}

/* Search Dropdown */
.theme-dark .container-3ayLPN.elevationBorderHigh-2WYJ09 {
  background-color: var(--dark2);
  border-color: var(--dark5);
  border-width: 2px;
  border-style: solid;
}

.theme-dark .option-96V44q.searchOption-zQ-1l6::after, .option-96V44q::after {
  display: none;
}

/* STOP: Search */
/* START: Pin Menu */
/* Pin Menu Top */
.theme-dark .header-ykumBX.header-2Kf7Yu {
  background-color: var(--dark2);
}

/* STOP: Pin Menu */
/* START: Sliders */
/* Slider Off */
.theme-dark .valueUnchecked-2lU_20 {
  background-color: var(--dark1);
}

/* Slider On Blue */
.theme-dark .valueChecked-m-4IJZ {
  background-color: #667ac4;
}

/* Slider On Green */
.theme-dark .valueChecked-m-4IJZ.themeDefault-24hCdX {
  background-color: #30825d !important;
}

/* BetterDiscord Slider Off */
.theme-dark .ui-switch:not(.checked) {
  background-color: var(--dark1) !important;
}

/* STOP: Sliders */
/* START Nitro Boost Menu */
/* Nitro Main */
.applicationStore-1pNvnv {
  background-color: var(--dark3);
}

/* Nitro Tier */
.tier1Banner-1B_WXY {
  background-color: var(--dark3) !important;
}

/* Nitro Top */
.theme-dark .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-2tA9Os {
  background-color: var(--dark1);
}

/* Nitro Center */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.systemPad-3UxEGl.inner-ZyuQk0.content-2qfHzC {
  background-color: var(--dark5);
}

/* Nitro Bottom */
.theme-dark .flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-3rDWdC.footer-1o3nCu {
  background-color: var(--dark3);
}

/* Boosting Tiers */
.theme-dark .tierNoneContainer-3hhK3h {
  background-color: var(--dark5);
}

.theme-dark .tierHeader---JJFb {
  background-color: var(--dark3);
}

.theme-dark .tierBody-16Chc9 {
  background-color: var(--dark5);
}

.theme-dark .tierNoneText-2OvCv7 {
  font-size: 0px;
}

.theme-dark .tierNoneText-2OvCv7:before {
  content: "Boost my server or die";
  font-size: 14px;
}

.theme-dark .tierNoneText-2OvCv7:after {
  content: "https://kyza.gq/discord/";
  font-size: 14px;
}

.theme-dark .carouselLeftGradientEdge-3P4spl {
  background-image: linear-gradient(90deg, var(--dark1), rgba(54, 57, 63, 0));
}

.theme-dark .carouselRightGradientEdge-2Z3H8D {
  background-image: linear-gradient(-90deg, var(--dark1), rgba(54, 57, 63, 0));
}

/* STOP: Nitro Boost Menu */
/* START: Popups */
/* Channel Popup */
.theme-dark .modal-yWgWj-.modal-1sor29 {
  background-color: var(--dark4);
}

/* STOP: Popups */
/* START: Rich Presence */
/* Full Profile Top No Activity */
.theme-dark .topSectionNormal-2-vo2m {
  background-color: #111;
}

/* Full Profile Top Activity 1 */
.theme-dark .topSectionPlaying-1J5E4n {
  background-color: #36363f;
}

/* Full Profile Top Activity 2 */
.theme-dark .topSectionPlaying-1J5E4n {
  background-color: #26262f;
}

/* Full Profile Bottom */
.theme-dark .body-3ND3kc {
  background-color: #161616;
}

/* Full Profile Spotify */
.theme-dark .topSectionSpotify-1lI0-P {
  background-color: #363f36;
}

.theme-dark .topSectionSpotify-1lI0-P .actionButton-3W1xZa.button-38aScr.lookInverted-2D7oAl.colorGreen-29iAKY.sizeSmall-2cSMqn.grow-q77ONN {
  background-color: #eee;
}

/* Mini Profile Top Shade */
.theme-dark .activityUserPopout-2yItg2.activity-11LB_k {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Mini Profile Top Activity  */
.theme-dark .headerPlaying-j0WQBV.header-2BwW8b.size16-14cGz5 {
  background-color: #36363f;
}

/* Mini Profile Top Spotify */
.theme-dark .headerSpotify-zpWxgT.header-2BwW8b.size16-14cGz5 {
  background-color: #363f36;
}

/* Mini Profile Main */
.theme-dark .body-3iLsc4 {
  background-color: #1a1a1a;
}

/* Mini Profile Bottom */
.theme-dark .footer-1fjuF6 {
  background-color: #161616;
}

/* Mini Profile Chat */
.theme-dark .footer-1fjuF6>input {
  background-color: #111;
}

/* STOP: Rich Presence */
/* START: Discover Tab */
.searchBox-3Y2Vi7.searchBoxInput-uJ66lD {
  background-color: var(--dark7);
}

.popoutContainer-3WC9HR.homepage-28Bghb.homepage-nMy8gk {
  background-color: var(--dark4);
}

.popoutContainer-3WC9HR.homepage-28Bghb.homepage-nMy8gk:hover {
  background-color: var(--dark5);
}

/* STOP: Discover Tab */
/* START: Library Tab */
/* Top Buttons */
.actionButton-4w4-EY.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6.sizeIcon-1-kvKI.grow-q77ONN {
  background-color: var(--dark5);
}

/* Action Buttons */
.button-38aScr.lookFilled-1Gx00P.colorPrimary-3b3xI6.hoverGreen-1gjdJc.actionButtonSize-1Znp1q.grow-q77ONN.hasHover-3X1-zV {
  background-color: var(--dark7);
}

/* Gift Inventory */
.scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.scrollerStore-390omS.systemPad-3UxEGl {
  background-color: var(--dark4);
  padding-left: 20px;
  padding-right: 20px;
}

/* STOP: Library Tab */
/* START: Friends Tab */
.theme-dark .friendsTable-133bsv {
  background-color: var(--dark4);
  margin-top: 0px;
}

.theme-dark .container-1r6BKw.themed-ANHk51 {
  background-color: var(--dark1);
}

/* STOP: Friends Tab */
/* START: BetterDiscord */
.inner-3ErfOT {
  background-color: var(--dark6) !important;
}

/* START: SelectedSafeEmbedGenerator */
#embedPopupWrapper {
  background-color: var(--dark2) !important;
}

#embedPreviewWrapper,
#providerName,
#providerUrl,
#authorName,
#authorUrl,
#description,
#imageUrl,
#colorPicker,
#embedPopupWrapper>input[type="button"]:nth-child(9) {
  background-color: var(--dark4) !important;
  color: white !important;
}

/* STOP: SelectedSafeEmbedGenerator */
/* STOP: BetterDiscord */
/* STOP: Dark Theme */
