/* START: Dark Theme */
/* START: Variables */
.theme-dark {
  --header-primary: #ccc;
  --header-secondary: #b9bbbe;
  --text-normal: #aaa;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --channels-default: #8e9297;
  --interactive-normal: #aaa;
  --interactive-hover: #bbb;
  --interactive-active: #ccc;
  --interactive-muted: #4f545c;
  --background-primary: #1a1a1a;
  --background-secondary: #161616;
  --background-tertiary: #111;
  --background-accent: #2a2a2a;
  --background-floating: #111;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-active: rgba(79, 84, 92, 0.24);
  --background-modifier-selected: rgba(79, 84, 92, 0.32);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);
  --guild-header-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  --channeltextarea-background: #131313;
  --activity-card-background: red;
  --deprecated-panel-background: #131313;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-store-bg: #1a1a1a;
  --deprecated-quickswitcher-input-background: #111;
  --deprecated-quickswitcher-input-placeholder: hsla(0, 0%, 100%, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

/* STOP: Variables */
/* START: Scrollbars */
.theme-dark #app-mount ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent !important;
  border-color: transparent !important;
}

.theme-dark #app-mount ::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent !important;
  border-color: transparent !important;
}

.theme-dark #app-mount ::-webkit-scrollbar-thumb {
  background-color: #2a2a2a !important;
  border-color: transparent !important;
}

/* STOP: Scrollbars */
/* START: Titlebars */
/* Main Titlebar */
.theme-dark #app-mount {
  background-color: #0d0d0d;
}

/* Server Titlebar */
.theme-dark .container-2Rl01u.clickable-2ap7je {
  background-color: #131313;
}

/* Channel Titlebar */
.theme-dark .title-3qD0b- {
  background-color: #131313;
}

/* DMs Titlebar */
.theme-dark .searchBar-6Kv8R2 {
  background-color: #111;
}

/* STOP: Titlebars */
/* START: Chat Box */
/* Autocomplete Above Textarea */
.theme-dark .autocomplete-1vrmpx.autocomplete-i9yVHs {
  background-color: #111;
}

/* STOP: Chat Box */
/* Autocomplete Selector */
.theme-dark .autocompleteRow-2OthDa .selectorSelected-1_M1WV {
  background-color: #1a1a1a;
}

/* START: Emoji Picker */
/* Top Tabs */
/* TODO: Fix white background. */
.theme-dark #bda-qem, .theme-dark #bda-qem>* {
  background-color: #131313 !important;
  color: var(--header-primary) !important;
}

/* Main Panel */
.theme-dark .emojiPicker-3m1S-j {
  background-color: #161616;
}

/* Frequently Used */
.theme-dark .category-2U57w6 {
  background-color: #161616;
}

/* Search Bar */
.theme-dark .inner-3ErfOT {
  background-color: #1a1a1a;
}

/* Twitch Panel */
.theme-dark #bda-qem-twitch-container {
  background-color: #161616;
}

/* Favorite Panel */
.theme-dark #bda-qem-favourite-container {
  background-color: #161616;
}

/* STOP: Emoji Picker */
/* START: Ping Menu */
/* Ping Menu Top */
.theme-dark .header-ykumBX.header-2Kf7Yu.header-3LXPrb {
  background-color: #131313;
}

/* Ping Menu Middle */
.theme-dark .messagesPopoutWrap-1MQ1bW>div:nth-child(2).scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix {
  background-color: #1a1a1a;
}

/* Ping Menu Bottom */
.theme-dark .messagesPopoutWrap-1MQ1bW>div:nth-child(3) {
  background-color: #131313;
}

/* Ping Menu Message */
.theme-dark .messageGroupWrapper-o-Zw7G {
  background-color: #1a1a1a;
  border-color: #111;
}

/* STOP: Ping Menu */
/* START: Search */
/* Search Menu */
.theme-dark .resultsWrapper-hoiXCY {
  background-color: #161616;
}

/* Search Menu Back */
.theme-dark .searchResultsWrap-2DKFzt .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themeGhost-28MSn0.scrollerTrack-1ZIpsv {
    background-color: #161616;
}

/* Search Channel Name */
.theme-dark .channelSeparator-1X1FuH, .channelName-1QajIf {
  background-color: #161616 !important;
}

.theme-dark .div-1QajIf {
  background-color: #131313;
}

/* Search Channel Separator */
.theme-dark .channelSeparator-1X1FuH {
  background-color: #2F3136;
}

/* Search Results Info */
.theme-dark .searchHeader-1l-wpR {
  background-color: #111;
}

/* Highlighted Search Result */
.theme-dark .searchResultMessage-2VxO12.hit-NLlWXA {
  background-color: #1f1f1f !important;
  border-color: #111;
}

/* Expanded Search Result */
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz {
  border-color: #111;
}

/* Search Result Gradients 1 */
.theme-dark .searchResult-3pzFAB:before, .theme-dark .searchResult-3pzFAB:after {
  display: none;
}

/* Search Result Gradients 2 */
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
  border-top: 2px solid rgba(28, 36, 43, 0.6);
  border-bottom: 2px solid rgba(28, 36, 43, 0.6);
  box-sizing: border-box;
  background-color: rgb(54, 57, 63);
}

/* Search Result Gradients 3 */
.theme-dark .searchResults-2J8dju .searchResultMessage-2VxO12.hit-NLlWXA {
  -webkit-box-shadow: 0px 0px 10px #070707;
}

/* Search Dropdown */
.theme-dark .container-3ayLPN.elevationBorderHigh-2WYJ09 {
  background-color: #131313;
  border-color: #1f1f1f;
  border-width: 2px;
  border-style: solid;
}

.theme-dark .option-96V44q.searchOption-zQ-1l6::after, .option-96V44q::after {
  display: none;
}
/* STOP: Search */
/* STOP: Dark Theme */
