//META{"name":"DarkDarkTheme","description":"It's Discord's Dark Theme, but Dark.","author":"Kyza#9994","version":"1.1.0","website":"https://khub.kyza.gq/?theme=DarkDarkTheme","source":"https://raw.githubusercontent.com/KyzaGitHub/Khub/master/Themes/DarkDarkTheme/DarkDarkTheme.theme.css"}*//

@import url("https://khub.kyza.gq/Themes/DarkDarkTheme/theme.css")
