/* Utilities */
@import url("https://khub.kyza.gq/Themes/ThemeUtilities/KyzaPFP.css");

/* Version */
li[data-name="DarkDarkTheme"] .bda-version::after {
  content: "1.2.7";
}

/* Branding */
.titleBar-AC4pGV:after {
  content: "v1.2.7 by Kyza#9994" !important;
  font-size: 14px !important;
  color: #999 !important;
  text-align: center !important;
  width: 100% !important;
}

/* Remove Workmark */
svg[name=DiscordWordmark] {
	width: 250%;
	transform: scale(0.9);
	background-image: url("https://raw.githubusercontent.com/KyzaGitHub/Khub/master/Themes/DarkDarkTheme/DarkDarkThemeLogo.png");
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
}
svg[name=DiscordWordmark] > path {
	display: none;
}

/* Globals */
* {}

/* Titlebar */
#app-mount {
  background-color: #0d0d0d;
}

/* Channel Description Gradient */
.theme-dark .children-19S4PO::after {
  display: none;
}

/* Guild Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.systemPad-3UxEGl.scroller-2TZvBN {
  background-color: #111;
  border-radius: 0px !important;
}

/* Channels Panel */
.channels-Ie2l6A>.container-PNkimc {
  background-color: #161616;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_.scrollerFade-1Ijw5y ::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
}

/* Conversation Panel */
.theme-dark .searchBar-6Kv8R2 {
  background-color: #111;
}

/* DMs Panel */
.theme-dark .privateChannels-1nO12o {
  background-color: #161616;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_.scrollerFade-1Ijw5y ::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
}

/* TODO: Have transparency when a server has a banner, but have color when it doesn't. */
/* Guild Name Panel */
/*.theme-dark .header-2o-2hj {*/
/*    background-color: #111;*/
/*}*/
/* Remove Banner Image Gradient */
.channels-Ie2l6A .bannerImage-1jOskm {
  background-size: 0, cover;
}

/* Large Checkboxes */
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(67, 181, 129); background-color: rgb(67, 181, 129);"] {
        background: #153f12 !important;
        border-color: #10470c !important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(250, 166, 26); background-color: rgb(250, 166, 26);"] {
        background: #bc9d21 !important;
        border-color: #d1aa0e !important;
}
.theme-dark .cardPrimaryEditable-3KtE4g[style*="border-color: rgb(240, 71, 71); background-color: rgb(240, 71, 71);"] {
        background: #a02c1c !important;
        border-color: #b2210e !important;
}

/* Link */
.anchor-3Z-8Bb {
	color: #00a0e0;
}

/* Banner Image Mask */
.bannerImage-1jOskm {
  -webkit-mask-image: linear-gradient(rgba(54, 57, 63, 1) 50%, rgb(47, 49, 54, 0) 100%);
}

/* Status Border */
.theme-dark .status-oxiHuE {
  border: 2px solid #111;
}

/* Selected Settings/Channel */
.theme-dark .item-PXvHYJ.selected-3s45Ha.themed-OHr7kt, .theme-dark .iconVisibility-1bOqu7.wrapper-1ucjTd.modeSelected-1zApJ_ > div {
	background-color: #262626 !important;
}

/* Read Channel Name */
.theme-dark .name-3_Dsmg {
}
/* Unread Channel Name */
.theme-dark .unread-3zKkbm + div > div {
	color: #ddd !important;
}

/* User Panel */
.theme-dark .container-2Thooq {
  background-color: #111;
}

/* Code Blocks */
code {
	background-color: #161616 !important;
}

/* Textarea Background 1 */
.theme-dark .spacer-1fA9zc.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr {
  background-color: #1a1a1a;
}

/* Textarea Background 2 */
.theme-dark .spacer-1fA9zc.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr>form {
  background-color: #1a1a1a;
}

/* Voice Call  */
.theme-dark .wrapper-1R9-_K.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.wrapper-2h3Puq.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.alignEnd-1D6PQi.spacer-1fA9zc {
  background-color: transparent;
}

/* Chat */
#app-mount > div.app-19_DXt > div.app-2rEoOp.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.theme-dark>div.layers-3iHuyZ.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.spacer-1fA9zc > div > div > div.flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz > div.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix > div.chat-3bRxxu.firefoxFixScrollFlex-cnI2ix > div.content-yTz4x3.firefoxFixScrollFlex-cnI2ix > div.spacer-1fA9zc.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr > div.messagesWrapper-3lZDfY > div > div {
  background-color: #1a1a1a;
}

/* Chat Scrollbar */
#app-mount .messagesWrapper-3lZDfY ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
}

#app-mount .messagesWrapper-3lZDfY ::-webkit-scrollbar-thumb {
  background-color: #111;
  border-color: transparent;
}

/* Content Behind Chat */
.content-yTz4x3.firefoxFixScrollFlex-cnI2ix {
	background-color: #1a1a1a;
}

/* NSFW Gate */
.theme-dark .gatedContent-3-B7qB {
	background-color: #1a1a1a;
}

/* NSFW Gate Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollWrap-qwpLpa ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
}

/* No Channels */
.theme-dark .noChannel-Z1DQK7 {
  background-color: #1a1a1a !important;
}


/* Textarea */
.theme-dark .inner-zqa7da.flex-1O1GKY.innerNoAutocomplete-1WpcVO {
  background-color: #111;
}

/* Autocomplete Textarea */
.theme-dark .inner-zqa7da.flex-1O1GKY.innerAutocomplete-1PN280 {
  background-color: #111;
}

/* Autocomplete Above Textarea */
.theme-dark .autocomplete-1vrmpx.autocomplete-i9yVHs {
  background-color: #111;
}

/* Channel Titlebar */
.theme-dark .title-3qD0b-.container-1r6BKw {
  background-color: rgba(17, 17, 17, 1);
}

/* DMs Titlebar */
.theme-dark .title-3qD0b-.container-1r6BKw.transparent-2ZlE3R {
  background-color: rgba(17, 17, 17, 0);
}

/* Members Panel */
.theme-dark .membersWrap-2h-GB4>div>div {
  background-color: #131313;
}

/* Border-radius Fix */
.theme-dark .flex-1xMQg5.flex-1O1GKY.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz {
  border-radius: 0px !important;
}

/* Ping Menu Top */
.theme-dark .header-ykumBX.header-SsaQ8X.header-3LXPrb {
  background-color: #131313;
}

/* Ping Menu Middle */
.theme-dark .messagesPopoutWrap-1MQ1bW>div:nth-child(2).scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix {
  background-color: #1a1a1a;
}

/* Ping Menu Bottom */
.theme-dark .messagesPopoutWrap-1MQ1bW>div:nth-child(3) {
  background-color: #131313;
}

/* Ping Menu Message */
.theme-dark .messageGroupWrapper-o-Zw7G {
  background-color: #1a1a1a;
  border-color: #111;
}

/* Search Menu */
.theme-dark .resultsWrapper-hoiXCY {
  background-color: #161616;
}

/* Search Channel Name */
.theme-dark .channelSeparator-1X1FuH, .channelName-1QajIf {
	background-color: #161616 !important;
}
.theme-dark .div-1QajIf {
  background-color: #131313;
}

/* Search Channel Separator */
.theme-dark .channelSeparator-1X1FuH {
  background-color: #2F3136;
}

/* Search Results Info */
.theme-dark .searchHeader-1l-wpR {
  background-color: #111;
}

/* Highlighted Search Result */
.theme-dark .searchResultMessage-2VxO12.hit-NLlWXA {
  background-color: #1a1a1a;
  border-color: #111;
}

/* Expanded Search Result */
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz {
  border-color: #111;
}

/* Search Result Gradients */
.searchResult-3pzFAB:before, .searchResult-3pzFAB:after {
	display: none;
}

/* Search Dropdown */
.theme-dark .container-3ayLPN.elevationBorderHigh-2WYJ09 {
  background-color: #131313;
  border-color: #1f1f1f;
  border-width: 2px;
  border-style: solid;
}

.theme-dark .option-96V44q.searchOption-zQ-1l6::after, .option-96V44q::after {
  display: none;
}

/* Nitro Menu */
.theme-dark .tierNoneContainer-3hhK3h {
	background-color: #1f1f1f;
}
.theme-dark .tierHeader---JJFb {
	background-color: #161616;
}
.theme-dark .tierBody-16Chc9 {
	background-color: #1f1f1f;
}
.theme-dark .tierNoneText-2OvCv7 {
	font-size: 0px;
}
.theme-dark .tierNoneText-2OvCv7:before {
	content: "Boost my server or die";
	font-size: 14px;
}
.theme-dark .tierNoneText-2OvCv7:after {
	content: "https://kyza.gq/discord/";
	font-size: 14px;
}
.theme-dark .carouselLeftGradientEdge-3P4spl {
	background-image: linear-gradient(90deg,#111,rgba(54,57,63,0));
}
.theme-dark .carouselRightGradientEdge-2Z3H8D {
	background-image: linear-gradient(-90deg,#111,rgba(54,57,63,0));
}

/* Context Menus */
.contextMenu-HLZMGh {
  border-color: #1f1f1f;
  border-width: 2px;
  border-style: solid;
}

/* Server Dropdown */
.theme-dark .menu-Sp6bN1 {
  background-color: #131313;
  border-color: #1f1f1f;
  border-width: 2px;
  border-style: solid;
}

/* Slider Off */
.theme-dark .valueUnchecked-2lU_20 {
  background-color: #111;
}
/* Slider On Blue */
.theme-dark .valueChecked-m-4IJZ {
	background-color: #667ac4;
}
/* Slider On Green */
.theme-dark .valueChecked-m-4IJZ.themeDefault-24hCdX {
	background-color: #30825d !important;
}

/* BetterDiscord Slider Off */
.theme-dark .ui-switch:not(.checked) {
  background-color: #111 !important;
}

/* Settings Bottom */
.theme-dark .flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2yfCgX {
  background-color: #131313;
}

/* Settings Main */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.content-2BXhLs.scrollerThemed-2oenus.themeGhostHairline-DBD-2d {
  background-color: #1a1a1a;
}

/* Full Profile Top No Activity */
.theme-dark .topSectionNormal-2-vo2m {
  background-color: #111;
}

/* Full Profile Top Activity 1 */
.theme-dark .topSectionPlaying-1J5E4n {
  background-color: #36363f;
}

/* Full Profile Top Activity 2 */
.theme-dark .topSectionPlaying-1J5E4n {
  background-color: #26262f;
}

/* Full Profile Bottom */
.theme-dark .body-3ND3kc {
  background-color: #161616;
}

/* Mini Profile Top Shade */
.theme-dark .activityUserPopout-2yItg2.activity-11LB_k {
  background-color: rgba(0, 0, 0, 0.3);
}

/* Mini Profile Top Activity  */
.theme-dark .headerPlaying-j0WQBV.header-2BwW8b.size16-14cGz5 {
  background-color: #36363f;
}

/* Mini Profile Top Spotify */
.theme-dark .headerSpotify-zpWxgT.header-2BwW8b.size16-14cGz5 {
  background-color: #363f36;
}

/* Mini Profile Main */
.theme-dark .body-3iLsc4 {
  background-color: #1a1a1a;
}

/* Mini Profile Bottom */
.theme-dark .footer-1fjuF6 {
  background-color: #161616;
}

/* Mini Profile Chat */
.theme-dark .footer-1fjuF6>input {
  background-color: #111;
}

/* Settings Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.systemPad-3UxEGl.contentRegionScroller-26nc1e {
  background-color: #1a1a1a;
}

/* Settings Sidebar */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.systemPad-3UxEGl.sidebarRegionScroller-3MXcoP {
  background-color: #161616;
}

/* Theme and Plugin Settings Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.contentRegionScroller-26nc1e.content-region-scroller {
  background-color: #1a1a1a;
}

/* Audit Log */
.theme-dark .customColumn-Rb6toI {
  background-color: #1a1a1a;
}

/* Changelog Top */
.theme-dark .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1R_AjF {
  background-color: #161616;
}

/* Changelog Main Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.systemPad-3UxEGl.inner-3wn6Q5.container-2zArDx.content-8biNdB {
  background-color: #1f1f1f;
}

/* Changelog Bottom */
.theme-dark .flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2yfCgX {
  background-color: #161616;
}

/* Changelog Background */
.theme-dark .modal-3HD5ck.modal-1sor29.size-JLvFeT {
  background-color: #111;
}

/* New Messages Bar */
.theme-dark .newMessagesBar-mujexs {
  background-color: #36363f;
}

/* User Finder */
.theme-dark .inner-1JeGVc>div>div {
  background-color: #111;
}

/* User Finder Textbox */
.theme-dark .inner-1JeGVc>div>div>input {
  background-color: #1f1f1f;
}

/* Friends Top */
.theme-dark .container-1r6BKw {
  background-color: #111;
}

/* Friends Background */
.theme-dark .container-3gCOGc {
  background-color: #161616;
}

/* Friends Panel */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themedWithTrack-q8E3vB.scrollerTrack-1ZIpsv {
  background-color: #1a1a1a;
}

/* Friends Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themedWithTrack-q8E3vB.scrollerTrack-1ZIpsv ::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themedWithTrack-q8E3vB.scrollerTrack-1ZIpsv ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerThemed-2oenus.themedWithTrack-q8E3vB.scrollerTrack-1ZIpsv ::-webkit-scrollbar-thumb {
  background-color: #111;
  border-color: transparent;
}

/* Nitro Top */
.theme-dark .headerBar-1YYOfi.container-1r6BKw {
  background-color: #111;
}

/* Nitro Panel */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerTrack-1ZIpsv {
  background-color: #1a1a1a;
}

/* Nitro Pretty Thingy */
.theme-dark .itemBackground-1YUOje>div {
  /* No Pretty Thingy Allowed */
  display: none;
}

/* Nitro Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerTrack-1ZIpsv ::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerTrack-1ZIpsv ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerTrack-1ZIpsv ::-webkit-scrollbar-thumb {
  background-color: #111;
  border-color: transparent;
}

/* Library Top */
.theme-dark .libraryHeader-3g95kE.container-1r6BKw {
  background-color: #111;
}

/* Libaray Game Updates */
.theme-dark .gameUpdates-2GPqBU {
  background-color: #131313;
}

/* Library Sorter */
.theme-dark .stickyHeader-1pqx0j.header-39GIC8.row-1Lmx44.stickyHeader-r2k9DK {
  background-color: #161616;
}

/* Library Panel */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.stickyScroller-24zUyY.scrollerThemed-2oenus.themedWithTrack-q8E3vB {
  background-color: #1a1a1a;
}

/* Library Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.stickyScroller-24zUyY.scrollerThemed-2oenus.themedWithTrack-q8E3vB ::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.stickyScroller-24zUyY.scrollerThemed-2oenus.themedWithTrack-q8E3vB ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.stickyScroller-24zUyY.scrollerThemed-2oenus.themedWithTrack-q8E3vB ::-webkit-scrollbar-thumb {
  background-color: #111;
  border-color: transparent;
}

/* Emoji Center */
.theme-dark .emojiPicker-3m1S-j {
    background-color: #131313;
}
.theme-dark .emojiPicker-3m1S-j .scroller-3vODG7 ::-webkit-scrollbar-track {
    background-color: red !important;
}

/* Emoji Category */
.theme-dark .category-2U57w6 {
  background-color: #1a1a1a;
}

/* Emoji Search Area */
.theme-dark .inner-3ErfOT {
  background-color: #1f1f1f;
}

/* Emoji Scrollbar */
.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerWrap-PyxcLY.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerFade-1Ijw5y.scrollerTrack-1ZIpsv ::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}
.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerWrap-PyxcLY.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerFade-1Ijw5y.scrollerTrack-1ZIpsv ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
}
.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.scrollerWrap-PyxcLY.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerFade-1Ijw5y.scrollerTrack-1ZIpsv ::-webkit-scrollbar-thumb {
  background-color: #111;
  border-color: transparent;
}

/* BetterDiscord Autocomplete */
#bdea-autocomplete {
  background-color: #111;
}

/* Activity Top */
.theme-dark .container-1r6BKw {
  background-color: #111;
}

/* Activity Panel */
.theme-dark .activityFeed-1C0EmJ>div:nth-child(2).scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix {
  background-color: #1a1a1a;
}

/* Activity Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix ::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix ::-webkit-scrollbar-track-piece {
  border-radius: 0px;
  background-color: transparent;
  border-color: transparent;
}

.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix ::-webkit-scrollbar-thumb {
  background-color: #111;
  border-color: transparent;
}

/* Blank CSS Settings Area */
.theme-dark .contentRegion-3nDuYy {
  background-color: #1a1a1a;
}

/* Upload Background */
.theme-dark .inner-1JeGVc>div {
  background-color: #1f1f1f;
}

/* Upload Modal Chat */
/* Uses default chat colors. */
.theme-dark .typing-2GQL18.base-gE7OpD {
  background-color: #1a1a1a;
}

/* CSS Editor Styles */
.ace_gutter-cell {
  background-color: #161616;
}

.bd-customcss-attach-controls {
  background-color: #161616;
}

.ace_content {
  background-color: #1f1f1f;
}

#bd-customcss-attach-controls {
  background-color: red;
}

/* ChannelHistoryButtons */
.channelHistoryButtons {
  width: calc(100% - 80px);
  text-align: right;
  position: absolute;
  left: 0px;
}

/* Plugin Styles */
/* Member Count */
#MemberCount {
  background-color: #00000000 !important;
}

/* Google Translate */
#app-mount>div:nth-child(4)>div.theme-dark.popouts-3dRSmE>div>div {
  background-color: #131313 !important;
}

/* BetterDiscord Permissions */
#permissions-modal>div.header {
  background-color: #111;
}

#permissions-modal>div.modal-body>div.perm-side {
  background-color: #1a1a1a;
}

#permissions-modal>div.modal-body>div.role-side>div {
  background-color: #161616 !important;
}

#permissions-modal>div.modal-body {
  background-color: #161616 !important;
}

/* SelectedSafeEmbedGenerator */
#embedPopupWrapper {
  background-color: #131313 !important;
}

#embedPreviewWrapper,
#providerName,
#providerUrl,
#authorName,
#authorUrl,
#description,
#imageUrl,
#colorPicker,
#embedPopupWrapper>input[type="button"]:nth-child(9) {
  background-color: #1f1f1f !important;
  color: white !important;
}
