/* Color */
@import url("https://khub.kyza.gq/Themes/DarkDarkTheme/colors.css");
/* UI Changes */
@import url("https://khub.kyza.gq/Themes/DarkDarkTheme/ui.css");
/* Shadows */
/* @import url("https://khub.kyza.gq/Themes/DarkDarkTheme/shadows.css"); */

/* Utilities */
@import url("https://khub.kyza.gq/Themes/ThemeUtilities/KyzaPFP.css");

/* Version */
li[data-name="DarkDarkTheme"] .bda-version:after {
  content: "2.1.2";
}

/* Branding */
.platform-win .titleBar-AC4pGV:after {
  content: "v2.1.2 by Kyza#9994" !important;
  font-size: 14px !important;
  color: #999 !important;
  text-align: center !important;
  width: 100% !important;
}

/* Changelog */
li[data-name="DarkDarkTheme"] .bda-description:after {
  content: "\A\AWhat's new in 2.1.2?\A\A Enabled the UI changes.\A@me if you find something broken!\A By the way, codeblocks now have a special font made just for code!\A Fixed the message edit box width.\A Added an icon to my profile picture.\A Fixed MemberCount.";
  white-space: pre;
}

/* Remove Workmark */
svg[name=DiscordWordmark] {
  width: 250%;
  transform: scale(0.9);
  background-image: url("https://raw.githubusercontent.com/KyzaGitHub/Khub/master/Themes/DarkDarkTheme/DarkDarkThemeLogo.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

svg[name=DiscordWordmark]>path {
  display: none;
}
