/* Globals */
* {
}

/* Titlebar */
#app-mount {
    background-color: #0d0d0d;
}

/* Channel Description Gradient */
.theme-dark .children-19S4PO.da-children::after {
    display: none;
}

/* Guild Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.da-scroller.da-firefoxFixScrollFlex.systemPad-3UxEGl.da-systemPad.scroller-2TZvBN.da-scroller {
    background-color: #111;
    border-radius: 0px !important;
}

/* Channels Panel */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerThemed-2oenus.da-scrollerThemed.themeGhostHairlineChannels-3G0x9_.scrollerFade-1Ijw5y.da-scrollerFade {
    background-color: #161616;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerThemed-2oenus.da-scrollerThemed.themeGhostHairlineChannels-3G0x9_.scrollerFade-1Ijw5y.da-scrollerFade ::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
}

/* Conversation Panel */
.theme-dark .channels-Ie2l6A.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-channels.da-vertical.da-flex.da-directionColumn {
    background-color: #111;
}

/* DMs Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.da-scroller.da-firefoxFixScrollFlex.systemPad-3UxEGl.da-systemPad {
    background-color: #161616;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerThemed-2oenus.da-scrollerThemed.themeGhostHairlineChannels-3G0x9_.scrollerFade-1Ijw5y.da-scrollerFade ::-webkit-scrollbar-thumb {
    background-color: #1f1f1f;
}

/* Guild Name Panel */
.theme-dark .header-2o-2hj.da-header {
    background-color: #111;
}

/* User Panel */
.theme-dark .container-2Thooq.da-container {
    background-color: #111;
}

/* Textarea Background 1 */
.theme-dark .spacer-1fA9zc.da-spacer.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-vertical.da-flex.da-directionColumn {
    background-color: #1a1a1a;
}

/* Textarea Background 2 */
.theme-dark .spacer-1fA9zc.da-spacer.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-vertical.da-flex.da-directionColumn > form {
    background-color: #1a1a1a;
}

/* Voice Call Panel Fix */
.theme-dark .wrapper-1R9-_K.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-wrapper.da-vertical.da-flex.da-directionColumn.wrapper-2h3Puq.da-wrapper.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-vertical.da-flex.da-directionColumn.alignEnd-1D6PQi.da-alignEnd.spacer-1fA9zc.da-spacer {
    background-color: transparent;
}

/* Chat */
#app-mount > div.app-19_DXt.da-app.platform-win > div.app-2rEoOp.da-app.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-vertical.da-flex.da-directionColumn.theme-dark > div.layers-3iHuyZ.da-layers.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-vertical.da-flex.da-directionColumn.spacer-1fA9zc.da-spacer > div > div > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz.da-base > div.flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.spacer-29U_x8.firefoxFixScrollFlex-cnI2ix.da-spacer.da-firefoxFixScrollFlex > div.chat-3bRxxu.firefoxFixScrollFlex-cnI2ix.da-chat.da-firefoxFixScrollFlex > div.content-yTz4x3.firefoxFixScrollFlex-cnI2ix.da-content.da-firefoxFixScrollFlex > div.spacer-1fA9zc.da-spacer.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.da-vertical.da-flex.da-directionColumn > div.messagesWrapper-3lZDfY.da-messagesWrapper > div > div {
    background-color: #1a1a1a;
}

/* Chat Scrollbar */
#app-mount .messagesWrapper-3lZDfY.da-messagesWrapper ::-webkit-scrollbar-track-piece {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
}
#app-mount .messagesWrapper-3lZDfY.da-messagesWrapper ::-webkit-scrollbar-thumb {
    background-color: #111;
    border-color: transparent;
}


/* Textarea */
.theme-dark .inner-zqa7da.flex-1O1GKY.da-inner.da-flex.innerNoAutocomplete-1WpcVO.da-innerNoAutocomplete {
    background-color: #111;
}

/* Autocomplete Textarea */
.theme-dark .inner-zqa7da.flex-1O1GKY.da-inner.da-flex.innerAutocomplete-1PN280.da-innerAutocomplete {
    background-color: #111;
}

/* Autocomplete Above Textarea */
.theme-dark .autocomplete-1vrmpx.autocomplete-i9yVHs.da-autocomplete {
    background-color: #111;
}

/* Channel Titlebar */
.theme-dark .title-3qD0b-.da-title.container-1r6BKw.da-container {
    background-color: #111;
}

/* Members Panel */
.theme-dark .membersWrap-2h-GB4.da-membersWrap > div > div {
    background-color: #131313;
}

/* Weird border-radius Fix */
.theme-dark .flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.base-3dtUhz.da-base {
    border-radius: 0px !important;
}

/* Ping Menu Top */
.theme-dark .header-ykumBX.da-header.header-SsaQ8X.da-header.header-3LXPrb.da-header {
    background-color: #131313;
}
/* Ping Menu Bottom */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex {
    background-color: #1a1a1a;
}
/* Ping Menu Message */
.theme-dark .messageGroupWrapper-o-Zw7G.da-messageGroupWrapper {
    background-color: #1a1a1a;
    border-color: #111;
}

/* Search Menu */
.theme-dark .resultsWrapper-hoiXCY.da-resultsWrapper {
    background-color: #161616;
}

/* Search Channel Name */
.theme-dark .div-1QajIf.da-channelName {
    background-color: #131313;
}

/* Search Channel Separator */
.theme-dark .channelSeparator-1X1FuH.da-channelSeparator {
    background-color: #2F3136;
}

/* Search Results Info */
.theme-dark .searchHeader-1l-wpR.da-searchHeader {
    background-color: #111;
}

/* Highlighted Search Result */
.theme-dark .searchResultMessage-2VxO12.da-searchResultMessage.hit-NLlWXA.da-hit {
    background-color: #1a1a1a;
    border-color: #111;
}
/*div.searchResultMessage-2VxO12.da-searchResultMessage.hit-NLlWXA.da-hit::after {*/
/*    display: none;*/
/*}*/

/* Expanded Search Result */
.theme-dark .searchResult-3pzFAB.da-searchResult.expanded-v2Szsz.da-expanded {
    border-color: #111;
}

/* Search Dropdown */
.theme-dark .container-3ayLPN.elevationBorderHigh-2WYJ09.da-container.da-elevationBorderHigh {
    background-color: #131313;
    border-color: #1f1f1f;
    border-width: 2px;
    border-style: solid;
}
.theme-dark .option-96V44q.da-option.searchOption-zQ-1l6.da-searchOption::after, .option-96V44q.da-option::after {
    display: none;
}

/* Context Menus */
.contextMenu-HLZMGh.da-contextMenu {
    border-color: #1f1f1f;
    border-width: 2px;
    border-style: solid;
}

/* Server Dropdown */
.theme-dark .menu-Sp6bN1.da-menu {
    background-color: #131313;
    border-color: #1f1f1f;
    border-width: 2px;
    border-style: solid;
}

/* Slider Off */
.da-switchEnabled.da-switch.valueUnchecked-2lU_20 {
    background-color: #111;
}
/* BetterDiscord Slider Off */
.ui-switch:not(.checked) {
    background-color: #111 !important;
}

/* Settings Bottom */
.theme-dark .flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2yfCgX.da-footer {
    background-color: #131313;
}
/* Settings Main */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.content-2BXhLs.da-content.scrollerThemed-2oenus.da-scrollerThemed.themeGhostHairline-DBD-2d {
    background-color: #1a1a1a;
}

/* Full Profile Top No Activity */
.theme-dark .topSectionNormal-2-vo2m.da-topSectionNormal {
    background-color: #111;
}
/* Full Profile Top Activity 1 */
.theme-dark .topSectionPlaying-1J5E4n.da-topSectionPlaying {
    background-color: #36363f;
}
/* Full Profile Top Activity 2 */
.theme-dark .topSectionPlaying-1J5E4n.da-topSectionPlaying {
    background-color: #26262f;
}
/* Full Profile Bottom */
.theme-dark .body-3ND3kc.da-body {
    background-color: #161616;
}

/* Mini Profile Top Shade */
.theme-dark .activityUserPopout-2yItg2.da-activityUserPopout.activity-11LB_k.da-activity {
    background-color: rgba(0, 0, 0, 0.3);
}
/* Mini Profile Top Activity  */
.theme-dark .headerPlaying-j0WQBV.header-2BwW8b.size16-14cGz5.da-headerPlaying.da-header.da-size16 {
    background-color: #36363f;
}
/* Mini Profile Top Spotify */
.theme-dark .headerSpotify-zpWxgT.header-2BwW8b.size16-14cGz5.da-headerSpotify.da-header.da-size16 {
    background-color: #363f36;
}
/* Mini Profile Main */
.theme-dark .body-3iLsc4.da-body {
    background-color: #1a1a1a;
}
/* Mini Profile Bottom */
.theme-dark .footer-1fjuF6.da-footer {
    background-color: #161616;
}
/* Mini Profile Chat */
.theme-dark .footer-1fjuF6.da-footer > input {
    background-color: #111;
}

/* Settings Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.da-scroller.da-firefoxFixScrollFlex.systemPad-3UxEGl.da-systemPad.contentRegionScroller-26nc1e.da-contentRegionScroller {
    background-color: #1a1a1a;
}

/* Settings Sidebar */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.da-scroller.da-firefoxFixScrollFlex.systemPad-3UxEGl.da-systemPad.sidebarRegionScroller-3MXcoP.da-sidebarRegionScroller {
    background-color: #161616;
}

/* Theme and Plugin Settings Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.contentRegionScroller-26nc1e.content-region-scroller.scroller {
    background-color: #1a1a1a;
}

/* Audit Log */
.theme-dark .customColumn-Rb6toI.da-customColumn {
    background-color: #1a1a1a;
}

/* Changelog Top */
.theme-dark .flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignCenter-1dQNNs.noWrap-3jynv6.header-1R_AjF.da-header {
    background-color: #161616;
}
/* Changelog Main Panel */
.theme-dark .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.da-scroller.da-firefoxFixScrollFlex.systemPad-3UxEGl.da-systemPad.inner-3wn6Q5.da-inner.container-2zArDx.da-container.content-8biNdB.da-content {
    background-color: #1f1f1f;
}
/* Changelog Bottom */
.theme-dark .flex-1xMQg5.flex-1O1GKY.da-flex.da-flex.horizontal-1ae9ci.horizontal-2EEEnY.flex-1O1GKY.directionRow-3v3tfG.justifyStart-2NDFzi.alignStretch-DpGPf3.noWrap-3jynv6.footer-2yfCgX.da-footer {
    background-color: #161616;
}
/* Changelog Background */
.theme-dark .modal-3HD5ck.da-modal.modal-1sor29.da-modal.size-JLvFeT.da-size {
    background-color: #111;
}

/* New Messages Bar */
.theme-dark .newMessagesBar-mujexs.da-newMessagesBar {
    background-color: #36363f;
}

/* User Finder */
.theme-dark .inner-1JeGVc.da-inner > div > div {
    background-color: #111;
}
/* User Finder Textbox */
.theme-dark .inner-1JeGVc.da-inner > div > div > input {
    background-color: #1f1f1f;
}

/* Friends Top */
.theme-dark .container-1r6BKw.da-container {
    background-color: #111;
}
/* Friends Background */
.theme-dark .container-3gCOGc.da-container {
    background-color: #161616;
}
/* Friends Panel */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerThemed-2oenus.da-scrollerThemed.themedWithTrack-q8E3vB.scrollerTrack-1ZIpsv.da-scrollerTrack {
    background-color: #1a1a1a;
}
/* Friends Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerThemed-2oenus.da-scrollerThemed.themedWithTrack-q8E3vB.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerThemed-2oenus.da-scrollerThemed.themedWithTrack-q8E3vB.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-track-piece {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerThemed-2oenus.da-scrollerThemed.themedWithTrack-q8E3vB.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-thumb {
    background-color: #111;
    border-color: transparent;
}

/* Nitro Top */
.theme-dark .headerBar-1YYOfi.da-headerBar.container-1r6BKw.da-container {
    background-color: #111;
}
/* Nitro Panel */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerTrack-1ZIpsv.da-scrollerTrack {
    background-color: #1a1a1a;
}
/* Nitro Pretty Thingy */
.theme-dark .itemBackground-1YUOje.da-itemBackground > div {
    /* No Pretty Thingy Allowed */
    display: none;
}
/* Nitro Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-track-piece {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-thumb {
    background-color: #111;
    border-color: transparent;
}

/* Library Top */
.theme-dark .libraryHeader-3g95kE.da-libraryHeader.container-1r6BKw.da-container {
    background-color: #111;
}
/* Libaray Game Updates */
.theme-dark .gameUpdates-2GPqBU.da-gameUpdates {
    background-color: #131313;
}
/* Library Sorter */
.theme-dark .stickyHeader-1pqx0j.header-39GIC8.da-stickyHeader.da-header.row-1Lmx44.da-row.stickyHeader-r2k9DK.da-stickyHeader {
    background-color: #161616;
}
/* Library Panel */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.stickyScroller-24zUyY.da-stickyScroller.scrollerThemed-2oenus.da-scrollerThemed.themedWithTrack-q8E3vB {
    background-color: #1a1a1a;
}
/* Library Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.stickyScroller-24zUyY.da-stickyScroller.scrollerThemed-2oenus.da-scrollerThemed.themedWithTrack-q8E3vB ::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.stickyScroller-24zUyY.da-stickyScroller.scrollerThemed-2oenus.da-scrollerThemed.themedWithTrack-q8E3vB ::-webkit-scrollbar-track-piece {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex.stickyScroller-24zUyY.da-stickyScroller.scrollerThemed-2oenus.da-scrollerThemed.themedWithTrack-q8E3vB ::-webkit-scrollbar-thumb {
    background-color: #111;
    border-color: transparent;
}

/* Emoji Category */
.theme-dark .category-2U57w6.da-category {
    background-color: #1f1f1f;
}
/* Emoji Scrollbar */
.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlexscrollerWrap-PyxcLY.da-scrollerWrap.scrollerThemed-2oenus.da-scrollerThemed.themeLight-1_DWyY.scrollerFade-1Ijw5y.da-scrollerFade.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}
.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlexscrollerWrap-PyxcLY.da-scrollerWrap.scrollerThemed-2oenus.da-scrollerThemed.themeLight-1_DWyY.scrollerFade-1Ijw5y.da-scrollerFade.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-track-piece {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
}
.scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlexscrollerWrap-PyxcLY.da-scrollerWrap.scrollerThemed-2oenus.da-scrollerThemed.themeLight-1_DWyY.scrollerFade-1Ijw5y.da-scrollerFade.scrollerTrack-1ZIpsv.da-scrollerTrack ::-webkit-scrollbar-thumb {
    background-color: #111;
    border-color: transparent;
}

/* BetterDiscord Autocomplete */
#bdea-autocomplete {
    background-color: #111;
}

/* Activity Top */
.theme-dark .container-1r6BKw.da-container {
    background-color: #111;
}
/* Activity Panel */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex {
    background-color: #1a1a1a;
}
/* Activity Scrollbar */
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex ::-webkit-scrollbar-track {
    background-color: #1a1a1a;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex ::-webkit-scrollbar-track-piece {
    border-radius: 0px;
    background-color: transparent;
    border-color: transparent;
}
.theme-dark .scrollerWrap-2lJEkd.firefoxFixScrollFlex-cnI2ix.da-scrollerWrap.da-firefoxFixScrollFlex ::-webkit-scrollbar-thumb {
    background-color: #111;
    border-color: transparent;
}

/* Blank CSS Settings Area */
.theme-dark .contentRegion-3nDuYy.content-region {
    background-color: #1a1a1a;
}

/* Upload Background */
.theme-dark .inner-1JeGVc.da-inner > div {
    background-color: #1f1f1f;
}
/* Upload Modal Chat */
/* Uses default chat colors. */

.theme-dark .typing-2GQL18.base-gE7OpD.da-typing.da-base {
    background-color: #1a1a1a;
}

/* Plugin Styles */
/* Member Count */
#MemberCount {
    background-color: #131313 !important;
}

/* Google Translate */
#app-mount > div:nth-child(4) > div.theme-dark.popouts-3dRSmE.da-popouts > div > div {
    background-color: #131313 !important;
}

/* BetterDiscord Permissions */
#permissions-modal > div.header {
    background-color: #111;
}
#permissions-modal > div.modal-body > div.perm-side {
    background-color: #1a1a1a;
}
#permissions-modal > div.modal-body > div.role-side > div {
    background-color: #161616 !important;
}
#permissions-modal > div.modal-body {
    background-color: #161616 !important;
}

/* SelectedSafeEmbedGenerator */
#embedPopupWrapper {
    background-color: #131313 !important;
}
#embedPreviewWrapper,
#providerName,
#providerUrl,
#authorName,
#authorUrl,
#description,
#imageUrl,
#colorPicker,
#embedPopupWrapper > input[type="button"]:nth-child(9) {
    background-color: #1f1f1f !important;
    color: white !important;
}
