/* Textarea */
/* Chat over members list */
.spacer-1fA9zc.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr {
  z-index: 2 !important;
  overflow: visible;
}

.membersWrap-2h-GB4, .searchResultsWrap-2DKFzt {
  z-index: 1 !important;
}

.membersWrap-2h-GB4 .members-1998pB, .membersWrap-2h-GB4 .member-3W1lQa {
  max-width: 100% !important;
}

.inner-zqa7da.flex-1O1GKY {
  min-height: 70px;
  width: calc(100% + 357px);
  border-radius: 0px;
}

.spacer-1fA9zc.vertical-V37hAW.flex-1O1GKY.directionColumn-35P_nr:only-child .inner-zqa7da.flex-1O1GKY {
  width: 100%;
}

.uploadModal-2ifh8j .inner-zqa7da.flex-1O1GKY.innerNoAutocomplete-1WpcVO {
  width: 100%;
  border-radius: 10px;
}

.container-3baos1 {
  margin-bottom: 0px;
}

.buttons-205you {
  margin: auto;
}

.form-2fGMdU {
  margin: 0px;
  min-height: 70px;
}

.channelTextArea-1LDbYG.channelTextArea-rNsIhG {
  padding: 0px;
  border-top: none;
  margin: 0px;
}

.typing-2GQL18 {
  background-color: transparent !important;
  height: 12px;
  font-size: 12px;
}

.textArea-2Spzkt.textArea-2Spzkt.scrollbarGhostHairline-1mSOM1.scrollbar-3dvm_9 {
  margin: auto;
  /*height: 0px !important;*/
}

#charcounter {
  position: absolute;
  left: 2px !important;
  top: 6px;
  font-size: 12px;
}

.uploadModal-2ifh8j #charcounter {
  left: 5px !important;
}

/* Fancy Buttons */
*[href="/activity"] {
  margin-left: 5px !important;
}

*[href="/activity"],
*[href="/library"],
*[href="/store"],
*[href="/channels/@me"] {
  display: inline-block;
  width: 24%;
  /*height: 80px;*/
  margin: 0px;
  padding: 0px;
}

*[href="/activity"] .avatar-3uk_u9,
*[href="/library"] .avatar-3uk_u9,
*[href="/store"] .avatar-3uk_u9,
*[href="/channels/@me"] .avatar-3uk_u9 {
  margin: 0px;
  padding-left: 5px;
}

*[href="/channels/@me"] .numberBadge-2s8kKX.base-PmTxvP {
  transform: translateX(-25px) translateY(5px);
}

*[href="/activity"] .name-uJV0GL,
*[href="/library"] .name-uJV0GL,
*[href="/store"] .name-uJV0GL,
*[href="/channels/@me"] .name-uJV0GL {
  font-size: 0px;
}

/* Fix Horizontal Scrolling */
.privateChannels-1nO12o .scroller-2FKFPG.firefoxFixScrollFlex-cnI2ix.systemPad-3UxEGl {
  overflow-x: hidden !important;
}

/* User Panel */
.panels-j1Uci_ {
  min-height: 70px;
  max-height: 122px;
}

.container-1giJp5 {
  border-top-right-radius: 20px !important;
}

.container-3baos1 {
  height: 70px;
}

/* Text Channels */
.content-3at_AU {
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  border-top: none;
  border-bottom: none;
  transition-duration: 0.2s;
}

.content-3at_AU:hover {
  border-width: 5px;
  border-style: solid;
  border-color: var(--dark7);
  border-top: none;
  border-bottom: none;
}

.theme-dark .selected-37j_iU .content-3at_AU {
  background-color: var(--dark6);
}

.selected-37j_iU .content-3at_AU {
  border-width: 10px;
  border-style: solid;
  border-color: var(--dark4);
  border-top: none;
  border-bottom: none;
}

.theme-dark .selected-37j_iU .content-3at_AU:hover {
  background-color: var(--dark7);
}

.selected-37j_iU .content-3at_AU:hover {
  background-color: var(--dark7);
  border-width: 10px;
  border-style: solid;
  border-color: var(--dark4);
  border-top: none;
  border-bottom: none;
}

.containerDefault-3GGEv_>div {
  height: 35px;
}

.containerDefault-3GGEv_ .name-IbjUBS {
  text-align: center;
  font-size: 16px !important;
}

.theme-dark .iconVisibility-1yaA_k {
  background-color: var(--dark6);
}

.iconVisibility-1yaA_k {
  border-width: 10px;
  border-style: solid;
  border-color: var(--dark4);
  border-top: none;
  border-bottom: none;
  border-radius: 3px;
  margin-left: 7px;
  transition-duration: 0.5s;
}

.theme-dark .iconVisibility-1yaA_k:hover {
  background-color: var(--dark7) !important;
}

.iconVisibility-1yaA_k:hover {
  border-width: 10px !important;
}

.theme-dark .iconVisibility-1yaA_k.collapsed-4WdoJ7 {
  background-color: var(--dark1);
}

.iconVisibility-1yaA_k.collapsed-4WdoJ7 {
  border-width: 5px;
}

.icon-WnO6o2 {
  display: none;
}

/* Members List */
.theme-dark .membersGroup-v9BXpm {
  background-color: var(--dark6);
}

.membersGroup-v9BXpm {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
  height: 35px;
  border-radius: 5px;
  margin: 7px;
  margin-right: 0px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--dark4);
  border-top: none;
  border-bottom: none;
}

.member-3W1lQa .layout-2DM8Md {
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  border-top: none;
  border-bottom: none;
  transition-duration: 0.2s;
}

.member-3W1lQa .layout-2DM8Md:hover {
  border-width: 5px;
  border-style: solid;
  border-color: var(--dark7);
  border-top: none;
  border-bottom: none;
}

.theme-dark .member-3W1lQa.selected-aXhQR6 .layout-2DM8Md {
  background-color: var(--dark6);
}

.member-3W1lQa.selected-aXhQR6 .layout-2DM8Md {
  border-width: 10px;
  border-style: solid;
  border-color: var(--dark4);
  border-top: none;
  border-bottom: none;
}

.theme-dark .member-3W1lQa.selected-aXhQR6 .layout-2DM8Md:hover {
  background-color: var(--dark7);
}

.member-3W1lQa.selected-aXhQR6 .layout-2DM8Md:hover {
  border-width: 10px;
  border-style: solid;
  border-color: var(--dark4);
  border-top: none;
  border-bottom: none;
}

.modal-yWgWj-.modal-1sor29 .content-38qMG0.medium-zmzTW-.primary-jw0I4K.selectable-x8iAUj {
  padding-top: 20px;
}

.membersWrap-2h-GB4, .searchResultsWrap-2DKFzt {
  margin-bottom: 70px;
  width: 357px;
}

.membersWrap-2h-GB4>* {
  width: 100% !important;
}

/* Friends List */
.theme-dark .sidebar-2K8pFh {
  background-color: var(--dark3);
}
