/* Code Font */
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@master/distr/fira_code.css);

[user_by_bdfdb="220584715265114113"]:after {
    content: "!";
    position: absolute;

    top: 0px;
    left: 0px;

    width: 16px;
    height: 16px;

    border-radius: 16px;
    font-size: 16px;
    line-height: 16px;
    font-family: "Fira Code";
    text-align: center;
    color: white;
    background-color: #2a2a2a;
    
    overflow: hidden;
    
    z-index: 2;

    background-image: url("https://khub.kyza.gq/Themes/ThemeUtilities/background.svg");
    background-size: 200%;
    background-position: center;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    transition-duration: 0.4s;
}

[user_by_bdfdb="220584715265114113"]:hover:after {
    content: 'Theme Dev';

    top: -10px;
    left: -10px;

    width: calc(100% + 20px);
    height: calc(100% + 20px);

    border-radius: 100%;
}